<div class="cat-container">
  <p class="cat-container__title">Our Trips</p>
  <div class="cat-container__cat-row" *ngFor="let row of categoryRows">
    <div
      (click)="selectCategoryImages(category.tripImages)"
      class="cat-container__cat-row__category"
      *ngFor="let category of row"
    >
      <img class="cat-container__cat-row__cat-img" [src]="category?.image" />
      <div class="cat-container__cat-row__cat-name">
        {{ category?.name }}
      </div>
    </div>
  </div>
</div>
