<footer class="footer">
  <div class="footer__container">
    <div class="footer__container__CC-logo">
      <img
        class="footer__container__image"
        src="assets/logo/CC-logo.png"
        alt="CC-Logo"
      />
    </div>
    <div class="footer__container__contact-us" (click)="openInstagram()">
      <div class="footer__container__logo-wrapper">
        <img
          class="footer__container__logo"
          src="assets/icons/instagram.svg"
          alt="instagram"
        />
      </div>
      <div class="footer__container__logo-wrapper" >
        <img
          class="footer__container__logo"
          src="assets/icons/whatsapp.svg"
          alt="whatsapp"
        />
      </div>
      <div class="footer__container__logo-wrapper" (click)="openCricHeroes()">
        <img
          class="footer__container__logo"
          src="assets/icons/cricket.png"
          alt="cricheroes"
        />
      </div>
    </div>
    <div class="footer__container__text">Copyright © Cluster Crew 2024</div>
  </div>
</footer>
