// .message-container {
//   width: 100%;
//   height: 2.5rem; /* Adjust height as needed */
//   overflow: hidden;
//   background-color: #ffc107;
//   display: flex;
//   align-items: center;
//   &__marquee {
//     width: 100%;
//     white-space: nowrap;
//     color: #0e5e02;
//     &__content {
//       width: 30%;
//       padding: 0.3rem 0;
//       font-weight: 600;
//       background-color: #f2c748;
//       border-radius: 0.5rem;
//       text-align: center;
//     }
//   }
// }

.marquee {
  background-color: #ffc107;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.message-container {
  display: inline-block;
  animation: marquee 30s linear infinite;
}

.message {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border-radius: 1rem;
background-color: #fdd252;
  color: #0e5e02;
  font-size: 1rem;
  font-weight: 500;

}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
