<div class="wrapper">
  <app-header [showButton]="false"></app-header>

  <div class="about-us">
    <h2 class="about-us__heading">About Us</h2>
    <!-- Sample Quotes -->
    <p class="about-us__content">
      Childhood friends are the benchmark of our lives, no matter where we go,
      what we do. They will always come by and take you to the place where you
      belong. Everyone has a friend during each stage of life. But only lucky
      ones have the same friend in all stages of life.New friends may be poems
      but old friends are alphabets. Don’t forget the alphabets because you will
      need them to read the poems.
    </p>
    <h2 class="about-us__title">Clusters Crew Members</h2>
    <div class="about-us__title__members-container">
      <div
        *ngFor="let member of sortedFriendsList"
        class="about-us__title__member-card"
      >
        <img
          class="about-us__title__images"
          [src]="member.imageSrc"
          alt="{{ member.name }}"
        />
        <div>
          <h3 class="about-us__title__member-name">{{ member.name }}</h3>
          <a [href]="member.instagram" target="_blank"
            ><img
              class="about-us__title__insta-link"
              src="assets/icons/instagram.svg"
              alt="instagram"
          /></a>
        </div>
      </div>
    </div>
  </div>

  <app-cc-footer></app-cc-footer>
</div>
